<div align="center">
    <h1>Lista de Aulas</h1>
    <table class="table" style="width: 40%;">
        <thead>
            <tr>
                <th style="width:100px;">Codigo</th>
                <th>Descripcion</th>
                <th>Action</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:100px;">
                    <input class="form-control" ng-model="aula.codigo">
                </td>
                <td>
                    <input class="form-control" ng-model="aula.descripcion">
                </td>
                <td>
                    <buttom style="width:100px;" class="btn btn-primary" ng-click="addAula()">Add</buttom>
                </td>
                <td>
                    <buttom style="width:100px;" class="btn btn-info" ng-click="updateAula()">Update</buttom>
                </td>
            </tr>
            <tr ng-repeat="aula in lista">
                <td style="width:100px;">{{aula.codigo}}</td>
                <td>{{aula.descripcion}}</td>                
                <td style="width:100px;">
                    <buttom class="btn btn-warning" ng-click="editAula(aula.id_aula)">Edit</buttom>
                </td>
        </tbody>
    </table>
</div>